<div class="col-xs-12">
    <p>last update :{{lastUpdate | async | date:'shortDate'}} </p>
    <h2>Mes appareils</h2>
    <ul class="list-group" >
    <app-appareil [isAuth] = "isAuth" *ngFor = "let appareil of appareils ; let i =  index" [appareilName]= "appareil.name"   [appareilStatus]="appareil.status" [id]="appareil.id" [index] ="i" ></app-appareil>
   <div class="row">
    <button class="btn btn-success" [disabled]="!isAuth" (click) = "switchOnAll()">Enable All <fa-icon [icon]="faPlay"> </fa-icon></button>
    <button class="btn btn-danger"  [disabled]="!isAuth" (click) = "switchOffAll()">Disable All <fa-icon [icon]="faPowerOff"> </fa-icon></button>
    <button class="btn btn-primary"(click)="getAllAppareils()">Récupérer les appareils</button>
   </div>
   </ul>
</div>